body{
  background-color:#F0F5F5
}

title{
  color:#E65C00;
}


img.align-center,table,fieldset
{
 display: block;
 margin: 0px auto;
}

h1{
  text-align: center;
}

table, th, td {
   border: 1px solid black;
}

form{
  padding-top: 20px;
}

fieldset{
  width:150px;
  border-radius: 10px;
}
