body {
    background-color: #E6E6E6;
    font-family: 'Nunito', 'sans-serif';
}


#img1 {
   padding:10px;
   border:5px solid #3D1414;
   background-color:#7A2929;
}

#img1 {
    display: block;
    margin: 0px auto;
  }

h1 {
    text-align: center;
    font-family: 'Nunito', 'sans-serif';
    text-transform: uppercase;
}

p {
  text-align: center;
  text-transform: uppercase;
}


p{
	color: #993333;
}

ul{
	font-family: 'Cagliostro', 'sans-serif';
	color:#333333 ;
}
=======
h4 {
	text-align: left;
	font-family: "Amaranth", sans-serif;
	color: #993333;
}


