img.align-center{
  display:block;
  margin: 0px auto;
  width: 300px;
}

.title
{
	font-family: 'Ubuntu', 'sans-serif';
  text-align: center
}

h1{
color:#545464
}


.c1
{
	background-color: #CC7A29;
}

h2
{
	color: #656574;
}

.c2
{
	background-color: #522900;
}

h3{
	color: #747482;
}

.c3
{
	background-color: #560000;
}

h4{
	color: #82828E;
}

.c4
{
	background-color: #888;
}

a
{
	color: #7070B8;
}

.c5
{
	background-color: #003300;
}

p
{
	color: #90909B;
}

.c6
{
	background-color: #1020d0;
}

.bg{
	background-color: #ffffcc;
}

.colorPallete > *
{
	width: 200px;
	height: 200px;
  display: inline-block;
}

.img0{
  margin-left: 10px;
  width: 150px;
  margin-top: -10px;
}

.p1{
  color:#003300;
}

.p2{
  color.#545464;
}


ul{
  color:#545464 ;
}



