

body{
	background-color: #669999;
	font-family: 'Amaranth', sans-serif;

}

img.align-center {
    display: block;
    margin: 0px auto;
}

img {
   padding:10px;
   border: 5px solid #021a40;
}	

h1{
	text-align: center;
	font-family: 'Amaranth', sans-serif;
	text-transform: uppercase;
}	

p{
	color: #993333;
}

ul{
	font-family: 'Cagliostro', sans-serif;
	color:#333333 ;
}